body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    font-size: 16px;
    color: #333;
    background: #e0e0e0 url('https://www.videogameschronicle.com/files/2019/03/nintendo.jpg') no-repeat center center;
    background-size: cover;
}

header {
    display: flex;
    flex-direction: column;
    background: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px; 
}

#title {
    font-size: 2.5rem;
    font-weight: bold;
    text-align: center;
    color: #D40000; 
}

#description {
    font-size: 1.2rem;
    text-align: center;
    color: #555;
}

main {
    width: 90%;
    max-width: 900px;
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.95);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
    margin: auto;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
    width: 95%;
    align-self: center;
}

label {
    font-weight: bold;
    margin-top: 20px;
}

input[type="text"],
input[type="email"],
input[type="number"],
textarea,
select {
    width: 90%;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 5px;
    margin-top: 5px;
    transition: border 0.3s ease-in-out;
}

input[type="text"]:hover,
input[type="email"]:hover,
input[type="number"]:hover,
textarea:hover,
select:hover {
    border: 2px solid #D40000; 
}

#dropdown {
    margin-bottom: 25px;
}

#checkbox-container {
    margin-top: 10px;
}

#checkbox-questions {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 10px;
}

input[type="radio"],
input[type="checkbox"] {
    margin-right: 10px;
}

button {
    padding: 10px 20px;
    background-color: #D40000; 
    color: white;
    border: none;
    border-radius: 5px;
    margin-top: 30px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

button:hover {
    background-color: #A30000;
    transform: translateY(-2px);
}

fieldset {
    border: none;
    margin-top: 20px;
}

legend {
    font-weight: bold;
    font-size: larger;
}

/* Responsive adjustments */
@media (max-width: 600px) {
    main, header {
        width: 95%;
        padding: 15px;
    }

    #title {
        font-size: 2rem;
    }
}

